{% extends 'layouts/base.html' %} 
{% load static %} 
{% block 'content' %}

<h1>Add Author</h1>
<form method="post" enctype="multipart/form-data" class="mt-4">
  {% csrf_token %}
  <div class="mb-3">{{ form.name.label_tag }} {{ form.name }}</div>
  <div class="mb-3">{{ form.bdate.label_tag }} {{ form.bdate }}</div>
  <div class="mb-3">{{ form.image.label_tag }} {{ form.image }}</div>
  <input
    type="submit"
    value="Submit"
    class="btn btn-success"
    style="width: 80px"
  />
</form>

<script src="{% static 'books/images/js/script.js' %}"></script>
{% endblock %}
