{% extends 'layouts/base.html'%}
{% load static %}
{% block 'content' %}

<br>
<a href="{% url 'author.add' %}" class="btn btn-primary"> Add Author </a>
<hr class="my-4">
<h2> All Authors Available: </h2>
<hr class="my-4">
<br><br>

<table class="table">
    <tr>
        <th> Name</th>
        <th> Logo </th>
        <th> Show</th>
        <th> Edit</th>
        <th> Delete</th>
    </tr>

    {% for author in authors %}
      <tr>
        <td> {{author.name}}</td>
        <td> <img src="{{author.logo_url}}" width="100" height="100"> </td>
        <td> <a href="{{author.show_url }}" class="btn btn-info"> Show </a></td>
        <td> <a href="{% url 'author.edit' author.id %}" class="btn btn-warning"> Edit </a></td>
        <td> <a href="{% url 'author.delete' author.id %}" class="btn btn-danger"> Delete </a></td>
      </tr>
    {% endfor %}
</table>

{% endblock %}